body {
    margin: 50px;
    background: url(bgforcalandtimer.jpg);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    background-color: rgb(118, 134, 164);
    height: 30px;
    padding-top: 5px;
    padding-right: 10px;
    border-color: #f24a02;
    border-style: double;
    border-radius: 5px;
    padding-right: 0;
    display: inline-flex;
    width: 45px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: black;
    stroke: #e8e809;

}

input[type="number"] {
    color: #121112;
    font-size: larger;
    font-weight: bolder;
}

::placeholder {
    color: #e8e809;
    font-weight: bold;
    font-size: 20px;

}

#updatehour {

    top: 300px;
    position: relative;
    overflow: hidden;
}

#updatemin {
    top: 300px;
    position: relative;
}

#updatesec {
    top: 300px;
    position: relative;
}

#pausebutton {
    top: 310px;
    align-items: center;
    appearance: none;
    background-color: #1e9267;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #101111 0 -3px 0 inset;
    box-sizing: border-box;
    color: #e8e809;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

#pausebutton:focus {
    box-shadow: #090909 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #502e87 0 -3px 0 inset;
}

#pausebutton:hover {
    box-shadow: rgb(18, 111, 151) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0b0a0a 0 -3px 0 inset;
    transform: translateY(-2px);
    border-color: red;
}

#pausebutton:active {
    box-shadow: #23aa11 0 3px 7px inset;
    transform: translateY(2px);
}

#resumebutton {
    top: 310px;
    align-items: center;
    appearance: none;
    background-color: #1e9267;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #101111 0 -3px 0 inset;
    box-sizing: border-box;
    color: #e8e809;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

#reumebuttom:focus {
    box-shadow: #090909 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #502e87 0 -3px 0 inset;
}

#resumebutton:hover {
    box-shadow: rgb(18, 111, 151) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0b0a0a 0 -3px 0 inset;
    transform: translateY(-2px);
    border-color: red;
}

#resumebutton:active {
    box-shadow: #23aa11 0 3px 7px inset;
    transform: translateY(2px);
}

#startbutton {
    top: 310px;
    align-items: center;
    appearance: none;
    background-color: #1e9267;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #101111 0 -3px 0 inset;
    box-sizing: border-box;
    color: #e8e809;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

#startbutton:focus {
    box-shadow: #090909 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #502e87 0 -3px 0 inset;
}

#startbutton:hover {
    box-shadow: rgb(18, 111, 151) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0b0a0a 0 -3px 0 inset;
    transform: translateY(-2px);
    border-color: red;
}

#startbutton:active {
    box-shadow: #23aa11 0 3px 7px inset;
    transform: translateY(2px);
}

#resetbutton {
    top: 310px;
    align-items: center;
    appearance: none;
    background-color: #1e9267;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #101111 0 -3px 0 inset;
    box-sizing: border-box;
    color: #e8e809;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

#resetbutton:focus {
    box-shadow: #090909 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #502e87 0 -3px 0 inset;
}

#resetbutton:hover {
    box-shadow: rgb(18, 111, 151) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0b0a0a 0 -3px 0 inset;
    transform: translateY(-2px);
    border-color: red;
}

#resetbutton:active {
    box-shadow: #23aa11 0 3px 7px inset;
    transform: translateY(2px);
}

#calendar-container {
    margin: 20px;
    position: relative;
    top: 30px;
}

h1 {
    position: relative;
    top: 50px;
    color: #dcc307;
    text-decoration-line: underline;
}

h1:hover {
    color: chartreuse;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 50px;

}

th,
td {
    padding: 10px;
    align-items: center;
    border: 1px solid red;
}

th {
    background-color: rgb(146, 63, 146)
}


button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    top: 20px;
    align-items: center;
    appearance: none;
    background-color: #1e9267;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #101111 0 -3px 0 inset;
    box-sizing: border-box;
    color: #e8e809;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 45px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

#prevmonth:focus {
    box-shadow: #090909 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #502e87 0 -3px 0 inset;
}

#prevmonth:hover {
    box-shadow: rgb(18, 111, 151) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0b0a0a 0 -3px 0 inset;
    transform: translateY(-2px);
    border-color: red;
}

#prevmonth:active {
    box-shadow: #23aa11 0 3px 7px inset;
    transform: translateY(2px);
}

#nextmonth:focus {
    box-shadow: #090909 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #502e87 0 -3px 0 inset;
}

#nextmonth:hover {
    box-shadow: rgb(18, 111, 151) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0b0a0a 0 -3px 0 inset;
    transform: translateY(-2px);
    border-color: red;
}

#nextmonth:active {
    box-shadow: #23aa11 0 3px 7px inset;
    transform: translateY(2px);
}










































#timer,
button {
    bottom: 20px;
    font-size: 1em;
    margin: 5px;
    padding: 10px;

}