body {
    margin: 50px;
    /* background: url(bgforcalandtimer.jpg);*/
    background-color: cadetblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Countdown Timer Code Starts From Here*/

#heading2 {
    top: 80px;
    position: relative; 
    color: #921e24;
}
#heading2:hover{
    color: midnightblue;
    text-decoration-line: underline;
}


input {
    background-color: rgb(118, 134, 164);
    height: 30px;
    padding-top: 5px;
    padding-right: 10px;
    border-color: #f24a02;
    border-style: double;
    border-radius: 5px;
    padding-right: 0;
    display: inline-flex;
    width: 45px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: black;
    stroke: #e8e809;

}

input[type="number"] {
    color: #121112;
    font-size: larger;
    font-weight: bolder;
}

input:hover {
    scroll-behavior: none;
}

::placeholder {
    color: #e8e809;
    font-weight: bold;
    font-size: 20px;

}

#updatehour {

    top: 120px;
    position: relative;
    overflow: hidden;
}

#updatemin {
    top: 120px;
    position: relative;
}

#updatesec {
    top: 120px;
    position: relative;
}

#pausebutton {
    top: 130px;
    align-items: center;
    appearance: none;
    background-color: #1e9267;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #101111 0 -3px 0 inset;
    box-sizing: border-box;
    color: #e8e809;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

#pausebutton:focus {
    box-shadow: #090909 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #502e87 0 -3px 0 inset;
}

#pausebutton:hover {
    box-shadow: rgb(18, 111, 151) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0b0a0a 0 -3px 0 inset;
    transform: translateY(-2px);
    border-color: red;
}

#pausebutton:active {
    box-shadow: #23aa11 0 3px 7px inset;
    transform: translateY(2px);
}

#resumebutton {
    top: 130px;
    align-items: center;
    appearance: none;
    background-color: #1e9267;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #101111 0 -3px 0 inset;
    box-sizing: border-box;
    color: #e8e809;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

#reumebuttom:focus {
    box-shadow: #090909 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #502e87 0 -3px 0 inset;
}

#resumebutton:hover {
    box-shadow: rgb(18, 111, 151) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0b0a0a 0 -3px 0 inset;
    transform: translateY(-2px);
    border-color: red;
}

#resumebutton:active {
    box-shadow: #23aa11 0 3px 7px inset;
    transform: translateY(2px);
}

#startbutton {
    top: 130px;
    align-items: center;
    appearance: none;
    background-color: #1e9267;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #101111 0 -3px 0 inset;
    box-sizing: border-box;
    color: #e8e809;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

#startbutton:focus {
    box-shadow: #090909 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #502e87 0 -3px 0 inset;
}

#startbutton:hover {
    box-shadow: rgb(18, 111, 151) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0b0a0a 0 -3px 0 inset;
    transform: translateY(-2px);
    border-color: red;
}

#startbutton:active {
    box-shadow: #23aa11 0 3px 7px inset;
    transform: translateY(2px);
}

#resetbutton {
    top: 130px;
    align-items: center;
    appearance: none;
    background-color: #1e9267;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #101111 0 -3px 0 inset;
    box-sizing: border-box;
    color: #e8e809;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

#resetbutton:focus {
    box-shadow: #090909 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #502e87 0 -3px 0 inset;
}

#resetbutton:hover {
    box-shadow: rgb(18, 111, 151) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0b0a0a 0 -3px 0 inset;
    transform: translateY(-2px);
    border-color: red;
}

#resetbutton:active {
    box-shadow: #23aa11 0 3px 7px inset;
    transform: translateY(2px);
}

/* Calendar Code Starts From HERE*/

#calendar-container {
    margin: 20px;
    position: relative;
    top: 30px;
}

#month-year {
    position: relative;
    top: 0%;
    color: #dcc307;
    text-decoration-line: underline;
}
#heading1:hover{
    color: rgb(199, 9, 9);
    text-decoration-line: underline;
    
}

#month-year:hover {
    color: chartreuse;
}

#heading1{
    display: ;
    bottom: 40px;
    position: relative;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 50px;


}

th,
td {
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
    border: 1px solid rgb(98, 131, 55);
    border-width: 5px;
}

th {
    color: #edac09;
}

td {
    color: rgb(7, 245, 82);
}

th:hover {
    color: #5c07dc;
    text-decoration-line: underline;
}

td:hover {
    color: #921e24;
    background-color: rgb(137, 177, 114);
}

th {
    background-color: rgb(146, 63, 146)
}


button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    bottom: 50px;
    align-items: center;
    appearance: none;
    background-color: #1e9267;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #101111 0 -3px 0 inset;
    box-sizing: border-box;
    color: #e8e809;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 45px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

#prevmonth:focus {
    box-shadow: #090909 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #502e87 0 -3px 0 inset;
}

#prevmonth:hover {
    box-shadow: rgb(18, 111, 151) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0b0a0a 0 -3px 0 inset;
    transform: translateY(-2px);
    border-color: red;
}

#prevmonth:active {
    box-shadow: #23aa11 0 3px 7px inset;
    transform: translateY(2px);
}

#nextmonth:focus {
    box-shadow: #090909 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #502e87 0 -3px 0 inset;
}

#nextmonth:hover {
    box-shadow: rgb(18, 111, 151) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0b0a0a 0 -3px 0 inset;
    transform: translateY(-2px);
    border-color: red;
}

#nextmonth:active {
    box-shadow: #23aa11 0 3px 7px inset;
    transform: translateY(2px);
}










































#timer,
button {
    bottom: 20px;
    font-size: 1em;
    margin: 5px;
    padding: 10px;

}